/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-kh-wp-frontend-uploader  {
	background: #efefef;
	padding: 1rem;

	h2 {
		font-family: sans-serif;
		color: #aaa !important;
		text-transform: uppercase;
		font-size: 1.25rem !important;
	}
}
