/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-kh-wp-frontend-uploader  {

	#wp-frontend-uploader,
	#wp-frontend-uploader-edit {

		&.hide {
			display: none;
		}
	}

	#wp-frontend-uploader {
		background: #e0e0e0;
		margin: 2rem 0;
		padding: 2rem;
		border-radius: 3px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 55vh;
		cursor: pointer;

		&.highlight {
			border: 2px dashed #bbb;
			background: #ccc;
		}

		form {
			background: #fff;
			width: 400px;
			padding: 2rem 1rem;

			.icon {
				text-align: center;

				i {
					font-size: 3rem;
				}
			}

			p {
				text-align: center;
			}

			input,
			label {
				display: none;
			}
		}
	}

	#wp-frontend-uploader-edit {
		display: grid;
		grid-template-columns: 1fr;
		padding: 2rem 0;

		@include tablet-up {
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;
		}

		@include tablet-side {
			grid-template-columns: 1fr 1fr 1fr;
		}

		// a single media item
		.media-item {

			// wrap the image
			.media-wrapper {
				position: relative;
				height: 220px;
				width: 100%;
				background: #ccc;
				padding: 1rem;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;

				img {
					max-height: 100%;
					width: auto;
					transition: opacity 0.3s;
					opacity: 0;
					filter: grayscale(100%);
				}

				img.loaded {
					opacity: 1;
				}

				img.uploaded {
					filter: grayscale(0);
				}

			}

			// media form
			.media-form {
				padding: 1rem;
				background: #fff;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;

				textarea,
				input[type="text"] {
					width: 100%;
					padding: 0.5rem;
					box-sizing: border-box;
					border: 1px solid #ccc;
					background: #fff;
				}

				textarea {
					height: 100px;
				}

				input[type="text"] {
					margin-bottom: 0.5rem;
				}
			}
		}
	}

	/* loader */
	.loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		transition: opacity 85ms ease-out;

		&.hide {
			opacity: 0;
		}
	}
	.spinner {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
	}
	.spinner div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 64px;
		height: 64px;
		margin: 8px;
		border: 8px solid rgba(255,255,255,0.8);
		border-radius: 50%;
		animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: rgba(255,255,255,0.8) transparent transparent transparent;
	}
	.spinner div:nth-child(1) {
		animation-delay: -0.45s;
	}
	.spinner div:nth-child(2) {
		animation-delay: -0.3s;
	}
	.spinner div:nth-child(3) {
		animation-delay: -0.15s;
	}
	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
