/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$blue: #466ca8;
$red: #aa3b43;

/*
 * media query mixins
 * Components is designed to be a mobile first framework. It's recommended
 * to develop your mobile site first, and then work your way up in each
 * component using the following sass mixins.
 */
 @mixin mobile {
	@media (max-width: 599px) { @content; }
}

@mixin tablet-up {
	@media (min-width: 600px) { @content; }
}

@mixin tablet-side {
	@media (min-width: 900px) { @content; }
}

@mixin desktop {
	@media (min-width: 1200px) { @content; }
}

@mixin large-desktop {
	@media (min-width: 1800px) { @content; }
}
